# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
bloglist-frontend/node_modules
bloglist-frontend/.pnp
.pnp.js

# testing
bloglist-frontend/coverage

# production
bloglist-frontend/build

# misc
bloglist-frontend/.env


